.small-container{
  padding: 0 10px 17px 10px;
  background-color: #fff;
}
.small-title {
  .bule-border {
    background: #24AAEF;
    width: 3px;
    height: 12px;
    float: left;
    margin-top: 13px;
  }
  .title-text {
    line-height: 38px;
    font-size: 14px;
    color: #666666;
    float: left;
    margin-left: 10px;
  }
}
