.center-container{
  text-align: center;
  margin-top: 250px;
}
.btn-container{
  text-align: right;
  background: #ffffff;
  padding: 4px 12px;
  border:1px solid #E5E5E5;
  border-bottom: 0;
  font-size: 0;
}
