.small-title {
  background: #ffffff;
  .bule-border {
    background: #24AAEF;
    width: 3px;
    height: 14px;
    float: left;
    margin-top: 12px;
  }
  .title-text {
    line-height: 38px;
    font-size: 14px;
    color: #333333;
    float: left;
    margin-left: 10px;
  }
}
