.active-panel {
  position: relative;
  padding-bottom: 34px;
  background: #EAEDF1;
  text-align: center;
  &:hover{
    background: #F1F3F5;
  }
  .panel-title {
    height: 39px;
    span {
      font-size: 16px;
      line-height: 39px;
      color: #666666;
    }
  }
  .panel-content {
    margin-top: 36px;
    position: relative;
    span{
      @include font(24px,24px,#3E8cf7,bold);
    }
  }
}
.angle-icon{
  display: block;
  position: absolute;
  right:0;
  bottom:0;
  border-style: solid;
  border-width: 15px;
  border-top-color:transparent;
  border-right-color:#CCCCCC;
  border-bottom-color:#CCCCCC;
  border-left-color:transparent;
  &:hover{
    border-right-color:#3E8CF7;
    border-bottom-color:#3E8CF7;
  }
  cursor: pointer;
}
.icon-chakan{
  position: absolute;
  left:-1px;
  top:-5px;
  color:#fff;
  font-size: 14px;
}
.icon-wenhao{
  font-size: 12px;
}
